<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="e" class="com.velocity.Employee">
		<property name="firstname" value="ram"></property>
		<property name="age" value="25"></property>
		<property name="city" value="pune"></property>
	</bean>
</beans>
